html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Yo Yo!!!
        p
          a.btn.btn-primary(href="http://newtonicaonline.com" target="_blank") Newtonica
          a.btn.btn-outline-primary(href="https://www.docker.com" target="_blank") Docker          
        p
        p Not for production!

